.header__browser {
    background-image: url('../images/browser.png');
    height: 40px;
    background-repeat: no-repeat;

}

.header__browser__text {
    position: absolute;
    margin-left: 679px;
    margin-top: 12px;

}

.header__logo-btn {
    display: flex;
    justify-content: space-between;
    margin-left: 76px;
    margin-right: 74px;
    margin-top: 50px;
}



.btn {
    width: 115px;
    height: 38px;

    background: #5222D0;
    border-radius: 100px;

    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    color: #FFFFFF;
    

}
.header__btn{
    font-size: 13px;
line-height: 13px;


}
.img__header__btn__basket {
    padding-left: 5px;
}


.main {
    display: grid;
    grid-template-columns: 600px 1fr;
    grid-template-rows: 2fr 1fr 1fr;
    margin-left: 116px;
    margin-top: 76px;
    align-items: center;
    
}


.main__img {
    grid-column-start: 2;
    grid-row-start: 1;
    grid-row-end: 5;
    margin-bottom: 40px;
}
.main__btn_big {
    width: 270px;
height: 84px;
padding-right: 16px;

font-size: 35px;

line-height: 35px; }



.btn__img-card {
    padding-left: 18px;
}
.menu__link {
    margin-right: 34px;
}
    
    

   
h1 {
    font-family: 'Roboto Slab', serif;
font-style: normal;
font-weight: 400;
font-size: 60px;
line-height: 120%;
color: #000000;

}
p, a {
    font-family: 'Roboto Slab';
font-style: normal;
font-weight: 300;
font-size: 20px;
    
}
p{
    color: #000000;
}
a {
    text-decoration: none;
    color: #5222D0;

}
.btn {
   

}
